_ide_helper.php
vendor
scope_settings.xml
.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/sailr-web.iml
.idea/vcs.xml
.idea/workspace.xml
sailr-web/.idea/sailr-web.iml
sailr-web/.idea/workspace.xml
.env.local.php
compiled.php
node_modules/
app/assets/css/.sass-cache
.idea
.sass-cache
