@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

@media (min-width: 768px) {
    .row {
        margin-right: 0;
        margin-left: 0;
    }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}


.purpleBackground {
    background: url('../images/swag-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p {
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
    margin-bottom: 0 !important;
}

nav .btn {
    z-index: 999999;
}

.nav-bg {
    z-index: -10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(250, 247, 244, 0.6);

}

.center-logo {
    background: url('/images/logo.png') top center no-repeat;
    background-position: center;
    background-size: contain;
}

.btn {
    /*
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    */

}

.nav .btn {
    margin-left: 5px;
    margin-right: 5px;
}

a {
    z-index: 999;
}

#backgroundSwag {
    z-index: 400;
    background: url('../images/swag-bg.jpg') no-repeat;
    /* http://i.imgur.com/sSVfDpU.jpg */
    position: relative;
    padding-top: 150px;
    padding-bottom: 0px;
}

#backgroundSwag h1 {
    color: #ffffff;
}

#backgroundSwag .container h1 {
    margin-bottom: 0;
}

.btn-clear {
    background-color: #ffffff;
    border-radius: 3px 3px 3px 3px;
    border-color: #ffffff;
    color: #ffffff;
}

.item-user {
    /*
    position: fixed;
    height: 100px;
    margin-bottom: 20px !important;
    padding-bottom: 25px;
*/
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #ffffff !important;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.item-user .username {
    color: rgba(64, 64, 64, 1);
}

img .item-user {
    height: 43px;
    width: 43px;
    float: left;

}

.purchase-item {

    display: block;
    padding: 4px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background-color: #ffffff !important;
    border: 1px solid #ddd;
    border-radius: 4px;
}

a.cancel-purchase {
    margin-top: 20px !important;
    padding-top: 5px;
    color: #bebebe;
    text-decoration: none;
}

a.cancel-purchase:hover {
    color: #c5c5c5;
    text-decoration: none;
}

a.cancel-purchase:visited {
    color: #bebebe;
    text-decoration: none;
}

img.confirm-item-thumbnail {
    padding: 0 !important;
}

.item-user .username {
    color: rgba(64, 64, 64, 1);
}

img .purchase-item {
    height: 40px;
    width: 40px;
    float: left;

}

img.profile-img {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

.post-comment {
    margin-top: 15px;
    margin-bottom: 15px;
}

.comment {
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-color: transparent;

}

button.del-btn {
    margin: 0;
    text-align: right;
    float: right;
    vertical-align: middle;
    bottom: 0;
}

.item {
    padding-bottom: 20px;
}

button.paypal-btn {
    background: url('../images/pp.png') no-repeat;
    background-size: contain;
    color: transparent;
}

button.paypal-btn:hover {
    color: transparent;
}

.swag {
    background-color: inherit;
    /* background: url('/images/swag-bg.jpg') no-repeat; */
    background-size: cover;
}

.buy-page ul.slick-dots {
    position: relative;
    bottom: 0;
    margin-bottom: 20px;
}

#buy-user {
    margin-top: 20px;
    margin-bottom: 15px;
}

.pac-container {
    z-index: 1051 !important;
}

.buyer-info {
    padding-top: 8px;
    padding-left: 8px;
    margin-left: 5px;
}

.form-signin.wide.panel a:hover {
    text-decoration: none;
}

.noSelect {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: pointer;

}

.vis-hidden {
    display: none;
}
.cursor-pointer {
    cursor: pointer;
}

.animate-down.ng-show {
    -webkit-transition: all 2.5s ease-in;
    -moz-transition: all 2.5s ease-in;
    -ms-transition: all 2.5s ease-in;
    -o-transition: all 2.5s ease-in;
    transition: all 2.5s ease-in;

}

input.ng-valid.ng-dirty .help-block,
input.ng-valid.ng-dirty .control-label,
input.ng-valid.ng-dirty .radio,
input.ng-valid.ng-dirty .checkbox,
input.ng-valid.ng-dirty .radio-inline,
input.ng-valid.ng-dirty .checkbox-inline {
    color: #3c763d;
}

input.ng-invalid.ng-dirty, input.ng-invalid.ng-dirty:invalid {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}


input.ng-invalid.ng-dirty:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

input.ng-valid.ng-dirty {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

input.ng-valid.ng-dirty:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
}

.spinner-lg {
    width: 80px;
    height: 80px;
    position: relative;
}

.spinner-sm {
    width: 20px;
    height: 20px;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}

/* Hide the border when editing a contenteditable div */
[contenteditable]:focus {
    outline: 0px solid transparent;
}


[data-edit] {
    /* font-size: 16px; */
}

.add-photos-gallery {
    max-width: 612px;
    min-height: 612px;
    width: 100%;
    height: 100%;
    background: purple;
    border-width: 3px;
    border-style: dashed;
    border-color: grey;
    color: #ffffff;
}

.center-middle {
    text-align: center;
    vertical-align: middle;
}

.ease-in-out {
    -webkit-transition: all .2s ease-in-out;
}
.dragover{
    padding-top: 25%;
    padding-bottom: 25%;

    border-width: 3px;
    border-style: dashed;
    border-color: grey;
    color: #ffffff;
    -webkit-transform: scale(0.96);
}

.dragover:before {

}
.dragover > .h3 {
    color: #ffffff;
    content: "hello!!!";
}

.gallery-content {
    padding-top: 50%;
}

input[type="file"] {
    opacity: 0;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    height: 0;
    width: 0;
    overflow:hidden;

}

.fit-gallery-sq {
    max-height: 612px;
    max-width: 612px;
}


.img-square-clip {
    /*
    position: fixed;
    clip:rect(0,180px,180px,0);
    */

    height: 90px;
}


.btn.delete-image {
    margin-top: 15px;
}

.text-white {
    color: #ffffff;
}

.btn-big {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
    border-radius: 0;
    -webkit-border-radius: 0;
    font-weight: bold;
    vertical-align: middle;
}

.btn-big:hover:after {
    content: ' Do it!';
}

.btn-long {
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 0;
    -webkit-border-radius: 0;
}

.btn-purple {
    background-color: #5856D6;
    border-color: #5c5ada;
    color: #ffffff;
}

.btn-purple:hover {
    color: #ffffff;
    background-color: #615fff;
}

.btn-turq {
    background-color: #1abc9c;
    border-color: #1ac6a6;
    color: #ffffff;
}

.btn-turq:hover {
    background-color: #1ac6a6;
    border-color: #1ac6a6;
    color: #ffffff;
}

.btn-emerald {
    background-color: #2ecc71;
    border-color: #2ed77c;
    color: #ffffff;
}

.btn-emerald:hover {
    background-color: #2edd81;
    border-color: #2ed77c;
    color: #ffffff;
}