body {
    padding-top: 0px;
    padding-bottom: 40px;

    background: url('../images/swag-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav {
    padding-top: 0;
}

.form-signin {
    max-width: 330px;

    padding: 15px;
    margin-bottom: auto;
    margin-top: 80px !important;
    margin-left: auto;
    margin-right: auto;
}

.form-signin .message {
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    max-width: 100%;
    text-align: center;
}

form.form-signin img {
    padding: 15px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.register input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.wide {
    max-width: 612px;
}

.form-signin .wide {
    max-width: 612px;
}

.form-signin .message {
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: auto;
}

form.form-signin.wide img {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}