<div class="onboarding-directions">
    <h4>Not yet set up with Sailr? <small>Here are some things to do.</small></h4>
    <ol>
        <li><a ng-href="{{ baseURL + '/dashboard/products/' }}">Add a product</a> to your store and publish it</li>
        <li><a ng-href="{{ baseURL + '/settings/account/' }}">Add a bio and profile image</a> to your profile</li>
        <li>Search for some stores of interest, and follow them. <a ng-href="{{ baseURL + '/s/AntDesign' }}">Click here</a> to search for a cool jewelery shop that you can follow.</li>
    </ol>
    <p>Got any questions or need help getting set up? <a ng-href="{{ baseURL + '/support/contact' }}">Contact us</a></p>
</div>