<form name="newCommentForm" ng-submit="newCommentForm.$valid && postNewComment()" ng-if="loggedInUser">
    <input type="text" ng-model="newComment.comment" placeholder="Write a comment..." class="panel panel-default form-control h6" ng-required="required" ng-maxlength="400">
</form>
<div ng-if="!loggedInUser" class="panel panel-default form-control h6">Please <a ng-href="{{ baseURL + '/session/create'}}">Login</a> to comment</div>

<p ng-if="webError" class="text-muted">Error loading comments.</p>

<sailr-comment
    class="panel panel-default item-user comment"
    ng-repeat="comment in comments"
    comment-text="{{ comment.comment }}"
    username="{{ comment.user.username }}"
    name="{{ comment.user.name }}"
    profile-image-url="{{ comment.user.profile_img[0].url }}">
</sailr-comment>
