$baseURL: '//sailr.co';
$backgroundImageUrl: "//sailr.co/build/images/purple-bg-sm.jpg";
$logoUrl: "//sailr.co/build/images/logo.png";

@import 'main/custom';
@import 'main/login';
@import 'lib/card';
@import 'lib/spinners';
@import 'lib/medium-editor';
@import 'lib/medium-bootstrap';
@import 'lib/ie-viewport-fix';